<ion-view view-title="Confirm Delivery" name="login-view" ng-controller="SignatureCtrl">
  <ion-pane>
    <ion-content class="header-padding">
      <order order-data="order"></order>
      <div class="row">
        <div class="col-25 padding-vertical">
          <span>Name*:</span>
        </div>
        <div class="col-75">
          <label class="item item-input">
            <input placeholder="Signature name" value="{{signatureName}}" type="text">
          </label>
        </div>
      </div>

      <div>Signature*:</div>
      <canvas id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
      <img ng-src='{{signature}}' ng-if="signed"/>
      <div class='button-bar'>
        <a class='button button-positive' ng-click='saveSignature()'>Confirm</a>
        <a class='button button-positive' ng-click='clearSignature()'>Clear</a>
      </div>
      <br>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
