di<ion-view view-title="Order" name="login-view" ng-controller="SignatureCtrl">
  <ion-pane>
    <ion-nav-view class="header">
      <ion-view>
        <ion-content scroll="false">
          <img ng-src="img/felgen.png" class="headerImage" alt="">
        </ion-content>
      </ion-view>
    </ion-nav-view>
    <ion-content class="header-padding">
      <order order-data="order"></order>
      <div>Name*:</div>
      <input placeholder="Signature name" value="{{signatureName}}">
      <div>Signature*:</div>
      <canvas id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
      <img ng-src='{{signature}}' ng-if="signed"/>
      <div class='button-bar'>
        <a class='button' ng-click='saveSignature()'>Confirm</a>
        <a class='button' ng-click='clearSignature()'>Clear</a>
      </div>
      <button class="back-button">Back</button>
      <br>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
