<ion-view view-title="{{'CONFIRM_DELIVERY.TITLE' | translate}}" name="confirm-view">
  <ion-pane>
    <ion-content class="header-padding" overflow-scroll="false" scroll="false"  has-bouncing="false">
      <order order-data="order"></order>
      <form name="confirmForm" ng-submit="saveSignature(confirmForm)" ng-class="{'submitted': submitted}" novalidate>
        <div>
          <label class="item item-input padding-left">
            <span class="input-label" translate="CONFIRM_DELIVERY.USERNAME"></span>
            <input placeholder="{{'CONFIRM_DELIVERY.PLACEHOLDER' | translate}}" ng-model="signatureName.value" type="text" required>
          </label>
        </div>
        <h5 class="input-label padding-left " style="padding-bottom: 0" translate="CONFIRM_DELIVERY.SIGNATURE"></h5>
        <div class="text-center">
          <canvas class="col-" id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
        </div>
        <div class='button-bar'>
          <button class='button button-positive margin-block' type="submit" ng-click="submitted = true">
            <span translate="CONFIRM_DELIVERY.CONFIRM">
          </span>
          </button>

          <a class='button button-positive margin-block' ng-click='clearSignature()'>
            <span translate="CONFIRM_DELIVERY.CLEAR">
            </span>
          </a>
        </div>
      </form>
    </ion-content>
  </ion-pane>
</ion-view>
