<ion-view view-title="Further Contacts" name="further-contacts-view" ng-controller="FurtherContactsCtrl">
  <ion-content direction="y" class="has-header has-footer" scroll="false">
    <order order-data="getCurrentOrder()"></order>
    <ion-scroll style="height: 480px" scrollbar-y="false">
      <ul class="list" ng-repeat="contact in getFurtherContacts()">
        <li class="item">
          <h3>{{contact.firstname + " " + contact.lastname}}</h3>
          <div class="row"></div>
          <div class="row"></div>
          <div>{{contact.address1}}</div>
          <div>{{contact.address2}}</div>
          <div>{{contact.zip + " " + contact.city}}</div>
          <div>{{contact.country.description}}</div>
          <div>{{contact.email}}</div>
          <div>{{contact.phone}}</div>
          <div>{{contact.mobile}}</div>
        </li>
      </ul>
    </ion-scroll>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-positive btn-back" ui-sref="selection">Back</button>
  </div>
</ion-view>
