<ion-view view-title="Login" name="login-view" ng-controller="LoginCtrl" hide-nav-bar="true" hide-back-button="true" cache-view="false">

  <style>
    .scroll-content {
      display: table !important;
      width: 100% !important;
      height: 100% !important;
    }

    .scroll {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  </style>

  <ion-content class="padding login-image-background">
    <div class="text-center login-inner-background">
      <div class="with-padding" style="background: transparent;">
        <div class="list list-inset transparent-background">
          <ion-item class="white-placeholder-children no-padding">
            <ion-label translate="USERNAME"></ion-label>
          </ion-item>
          <ion-item class="item no-margin item-input login-input white-placeholder-children">
            <input type="text" translate translate-attr-placeholder="USERNAME" translate-value-browser="{{app.browser}}" ng-model="user.login">
          </ion-item>
          <ion-item class="white-placeholder-children no-padding">
            <ion-label translate="PASSWORD"></ion-label>
          </ion-item>
          <ion-item class="item no-margin item-input login-input white-placeholder-children">
            <input type="password" translate translate-attr-placeholder="PASSWORD" translate-value-browser="{{app.browser}}" ng-model="user.password">
          </ion-item>
        </div>
        <ion-label>{{ authMessage }}</ion-label>
        <button class="button button-block button-calm" ng-click="login()" translate="LOGIN_BUTTON"></button>
        <ion-checkbox class="transparent-background no-border">Remember Login</ion-checkbox>
      </div>
    </div>
  </ion-content>
</ion-view>
