<ion-view view-title="Order" ng-controller="OrderCtrl" class="order-page">
  <ion-content class="header-padding">
    <order order-data="order" detailes="true"></order>
    <div>
      <button class="button button-block button-positive"  ng-click="navigateToOrderDetails()">
        <i class="icon ion-ios-search-strong"></i>
        Order Details
      </button>
      <button class="button button-block button-positive" ng-click="navigateToUpdateStatus()">
        <i class="icon ion-android-sync"></i>
        Update Status
      </button>
      <button class="button button-block button-positive" ng-click="navigateToAssignDriver()">
        <i class="icon ion-gear-a"></i>
        Assign Driver
      </button>
      <button class="button button-block button-positive" ng-click="navigateToTakePhoto()">
        <i class="icon ion-camera"></i>
        Take Photo
      </button>
      <button class="button button-block button-positive" ng-click="navigateToConfirmDelivery()">
        <i class="icon ion-ios-home"></i>
        Confirm Delivery
      </button>
      <button class="button button-positive button-block" ng-click="printQrCodes()">
        <i class="icon ion-ios-barcode-outline "></i>
        Print Barcodes
      </button>
    </div>
  </ion-content>
</ion-view>
