<ion-view cache-view="false" view-title="{{ 'ORDER_DETAILS.TITLE' | translate }}">
  <ion-content class="header-padding padding" scroll="true" direction="y" overflow-scroll="false">
    <order order-data="order"  detailes="true"></order>
    <div>
      <div class="list">
        <div class="item row">
          <b class="col text-center padding-vertical" translate="ORDER_DETAILS.CUSTOMER_CONTACT"></b>
        </div>
        <div class="item row">
          <span class="col-33 padding-vertical bold-text" translate="ORDER_DETAILS.ADDRESS1"></span>
          <div class="col padding-vertical" ng-bind="order.customer.address1"></div>
        </div>
        <div class="item row">
          <span class="col-33 padding-vertical bold-text" translate="ORDER_DETAILS.ADDRESS2"></span>
          <div class="col padding-vertical" ng-bind="order.customer.address2"></div>
        </div>
        <div class="item row">
          <span class="col-33 padding-vertical bold-text" translate="ORDER_DETAILS.ZIP"></span>
          <div class="col padding-vertical" ng-bind="zipCity"></div>
        </div>
        <div class="item row">
          <span class="col-33 padding-vertical bold-text" translate="ORDER_DETAILS.COUNTRY"></span>
          <div class="col padding-vertical" ng-bind="order.customer.country.description"></div>
        </div>
        <div class="item row">
          <span class="col-33 padding-vertical bold-text" translate="ORDER_DETAILS.EMAIL"></span>
          <div class="col padding-vertical" ng-bind="order.customer.email"></div>
        </div>
        <div class="item row">
          <span class="col-33 padding-vertical bold-text" translate="ORDER_DETAILS.PHONE"></span>
          <div class="col padding-vertical" ng-bind="order.customer.phone"></div>
        </div>
        <div class="item row">
          <span class="col-33 padding-vertical bold-text" translate="ORDER_DETAILS.MOBILE"></span>
          <div class="col padding-vertical" ng-bind="order.customer.mobile"></div>
        </div>
      </div>
      <div class="row ">
        <button class="button button-positive col no-wrap margin-block button-small" ng-click="showPictures()" translate="ORDER_DETAILS.PICTURE"></button>
        <button class="button button-positive col no-wrap margin-block button-small" ng-click="showSignature()" translate="ORDER_DETAILS.SIGNATURE" ng-disabled="order.status !== 'DELIVERED'"></button>
      </div>
      <div class="row">
        <button class=" button button-positive  col no-wrap margin-block button-small" ng-click="navigateToFurtherContacts()" translate="ORDER_DETAILS.FURTHER_CONTACTS"></button>
        <button class=" button button-positive  col no-wrap margin-block button-small" ng-click="showWheelsInfo()" translate="ORDER_DETAILS.WHEEL_RIMS"></button>
      </div>
    </div>

  </ion-content>
</ion-view>
