<ion-view cache-view="false" view-title="{{'ORDER.TITLE' | translate}}" class="order-page" cache-view="false">
  <ion-content class="header-padding">
    <order order-data="order" detailes="true"></order>
    <div>
      <button class="button button-block button-positive"  ng-click="navigateToOrderDetails()">
        <i class="icon ion-ios-search-strong"></i>
        <span translate="ORDER.ORDER_DETAILS"></span>
      </button>
      <button class="button button-block button-positive icon-start"  ng-click="navigateToGuidelines()">
        <i class="icon ion-model-s"></i>
        <span translate="ORDER.INSTRUCTIONS"></span>
      </button>
      <button class="button button-block button-positive" ng-click="navigateToUpdateStatus()">
        <i class="icon ion-android-sync"></i>
        <span translate="ORDER.UPDATE_STATUS"></span>
      </button>
      <button class="button button-block button-positive" ng-click="navigateToAssignDriver()">
        <i class="icon ion-gear-a"></i>
        <span translate="ORDER.ASSIGN_DRIVER"></span>
      </button>
      <button class="button button-block button-positive" ng-click="navigateToTakePhoto()">
        <i class="icon ion-camera"></i>
        <span translate="ORDER.TAKE_PHOTO"></span>
      </button>
      <button class="button button-block button-positive" ng-click="navigateToConfirmDelivery()" ng-disabled="order.status === 'DELIVERED'">
        <i class="icon ion-ios-home"></i>
        <span translate="ORDER.CONFIRM_DELIVERY"></span>
      </button>
      <button class="button button-positive button-block" ng-click="printQrCodes()">
        <i class="icon ion-ios-barcode-outline "></i>
        <span translate="ORDER.PRINT_QRCODES"></span>
      </button>
    </div>
  </ion-content>
</ion-view>
