<ion-view view-title="Search Order" name="search-order-view" ng-controller="SearchOrderCtrl" ng-init="searchOrder()" class="search-order-page">
  <ion-content direction="y" class="has-header " overflow-scroll="false" scroll="false">
    <div class="search-input">
      <div class="search-filter row">
        <span class="col-25 padding-vertical" translate="SEARCH_ORDER.GEN_FILTER">General filter:</span>
        <label  class="item item-input col-75 custom-search">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="search.$">
        </label>
      </div>
      <div class="date-filter row">
        <span class="col-25 padding-vertical" translate="SEARCH_ORDER.DATE_FILTER"></span>
        <select class="item item-input item-select col"  ng-model="selectedFilter.type" ng-selected="$first">
          <option ng-value="filterTypes.type[0]" translate="SEARCH_ORDER.DATE_FILTER.CREATED"></option>
          <option ng-value="filterTypes.type[1]" translate="SEARCH_ORDER.DATE_FILTER.DEADLINE"></option>
          <option ng-value="filterTypes.type[2]" translate="SEARCH_ORDER.DATE_FILTER.DELIVERY"></option>
        </select>
        <button class=" button button-positive button-small  col-20 no-wrap .margin-left " translate="SEARCH_ORDER.SELECT_DATE_BUTTON" ng-click="openDatePicker()">Select date</button>
      </div>
      <div class="row">
        <button class="button button-positive button-small" translate="SEARCH_ORDER.RESET_FILTERS" ng-click="resetFilters()">Reset filters</button>
      </div>
    </div>
    <ion-scroll>
      <ion-list>
        <div  class="no-margin no-padding" ng-repeat="result in searchResult | filter:search" ng-click="openOrderMenu(result)">
            <order order-data="result"></order>
          <hr>
        </div>
      </ion-list>
      <ion-infinite-scroll ng-if="moreData"
                           immediate-check="false"
                           on-infinite="loadMoreOrders()"
                           distance="1%"></ion-infinite-scroll>
    </ion-scroll>
  </ion-content>
</ion-view>












