<ion-view view-title="{{ 'SEARCH_ORDER_TITLE' | translate }}" name="search-order-view" ng-controller="SearchOrderCtrl" class="search-order-page">
  <ion-content direction="y" class="has-header" has-bouncing="false" overflow-scroll="false" scroll="false">
    <div class="search-input">
      <div class="search-filter row">
        <span class="col-25 padding-vertical" translate="SEARCH_ORDER.GEN_FILTER">General filter:</span>
        <label  class="item item-input col custom-search" style="display: inherit">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="{{ 'SEARCH_ORDER_PLACEHOLDER' | translate }}" ng-model="search.$">
        </label>
        <button class="button button-positive button-small no-wrap margin-left" translate="SEARCH_ORDER.RESET_FILTERS" ng-click="resetFilters()">Reset filters</button>
      </div>
      <div class="date-filter row">
        <span class="col-25 padding-vertical" translate="SEARCH_ORDER.DATE_FILTER"></span>
        <select class="item item-input item-select item-margin"  ng-model="selectedFilter.type" ng-selected="$first">
          <option ng-value="filterTypes.type[0]" translate="SEARCH_ORDER.DATE_FILTER.CREATED"></option>
          <option ng-value="filterTypes.type[1]" translate="SEARCH_ORDER.DATE_FILTER.DEADLINE"></option>
          <option ng-value="filterTypes.type[2]" translate="SEARCH_ORDER.DATE_FILTER.DELIVERY"></option>
        </select>
        <div ng-click="openDatePicker()" class="calendar-block">
          <img src="img/calendar.png">
          <span ng-bind="formattedValue | ifEmpty : translateDefaultValue('ORDER_TEMPLATE.DATE_EMPTY')"></span>
        </div>
      </div>
    </div>
    <ion-scroll zooming="false" direction="y" >
      <ion-list>
        <div  class="no-margin no-padding" ng-repeat="result in searchResult | filter:search | orderBy:'orderNo':true" ng-click="openOrderMenu(result)">
          <order order-data="result"></order>
          <hr>
        </div>
      </ion-list>
      <ion-infinite-scroll ng-if="moreData"
                           immediate-check="false"
                           on-infinite="loadMoreOrders()"
                           distance="1%"></ion-infinite-scroll>
    </ion-scroll>
  </ion-content>
</ion-view>












