<ion-view view-title="Login" name="login-view" ng-controller="SelectionCtrl">
  <ion-nav-view class="header">
    <ion-view>
      <ion-content scroll="false">
        <img ng-src="img/felgen.png" class="headerImage" alt="">
      </ion-content>
    </ion-view>
  </ion-nav-view>
  <ion-content class="header-padding">
    <div class="button button-full btn-heaven" ng-click="scanQrCode()">Scan Barcode</div>
    <div class="button button-full btn-heaven" ng-click=select()>Search Order</div>
    <div class="row responsive-sm padding">
      <h5>Contact:</h5>
      <p>www.felgen-wie-neu.com</p>
      <p>Gemundner Str. 20<br>55469 Simmern/Hunsruck</p>
      <p>+49 (0) 6761-2238</p>
      <div class="button button-small button-calm btn-logout col-offset-80" ng-click = logout()>Logout</div>
    </div>
  </ion-content>
</ion-view>
