<ion-view view-title="Main" name="login-view" ng-controller="SelectionCtrl" hide-back-button="true" class="section-page">
  <ion-content scroll="false" class="header-padding has-footer">
    <div class="button button-full btn-heaven" ng-click="scanQrCode()">
      <i class="icon ion-ios-barcode-outline"></i>
      <span class="button-title">Scan Barcode</span>
    </div>
    <div class="button button-full btn-heaven" ng-click="select()">
      <i class="icon ion-ios-list-outline"></i>
      <span class="button-title padding-vertical">Search Order</span>
    </div>
    <!--<div class="list">-->
      <!--<div class="item item-icon-left item-icon-right" ng-click="scanQrCode()">-->
        <!--<i class="icon ion-ios-barcode-outline"></i>-->
        <!--<span class="button-title">Scan Barcode</span>-->
        <!--<i class="icon ion-chevron-right"></i>-->
      <!--</div>-->
      <!--<div class="item item-icon-left item-icon-right" ng-click="select()">-->
        <!--<i class="icon ion-ios-list-outline"></i>-->
        <!--<span class="button-title">Search Order</span>-->
        <!--<i class="icon ion-chevron-right"></i>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row responsive-sm padding">
      <h5><b>Contact:</b></h5>
      <p>www.felgen-wie-neu.com</p>
      <p>Gemundner Str. 20<br>55469 Simmern/Hunsruck</p>
      <p>+49 (0) 6761-2238</p>
    </div>
  </ion-content>
  <!--<div class="bar bar-footer">-->
    <!--<div class="button button-small button-calm btn-logout col-offset-80" ng-click = "logout()">Logout</div>-->
  <!--</div>-->
</ion-view>
