<ion-view view-title="{{ 'SELECTION_TITLE' | translate }}" name="login-view" ng-controller="SelectionCtrl" hide-back-button="true" class="section-page">
  <ion-content scroll="false" class="header-padding has-footer">

    <div class="list">
      <div class="item item-icon-left item-icon-right" ng-click="scanQrCode()">
        <i class="icon ion-ios-barcode-outline"></i>
        <span class="button-title" translate="SELECTION.SCAN.BUTTON"></span>
        <i class="icon ion-chevron-right"></i>
      </div>
      <div class="item item-icon-left item-icon-right" ng-click="select()">
        <i class="icon ion-ios-list-outline"></i>
        <span class="button-title" translate="SELECTION.ORDERS.BUTTON"></span>
        <i class="icon ion-chevron-right"></i>
      </div>
    </div>
    <div class="row responsive-sm padding">
      <h5> <b translate="SELECTION.CONTACTS.LABEL"></b></h5>
      <p>www.felgen-wie-neu.com</p>
      <p>Gemundner Str. 20<br>55469 Simmern/Hunsruck</p>
      <p>+49 (0) 6761-2238</p>
    </div>
  </ion-content>
</ion-view>
