<ion-view view-title="Update Status" name="status-update-view" ng-controller="status_update_ctrl">
  <div class="bar bar-header bar-light">
    <h1 class="title">Update Status</h1>
  </div>
  <ion-content direction="y" class="has-header has-footer" scroll="false">
    <div class="card">
      <div class="row">
        <div class="col h4">{{getCurrentOrder().orderNo}}</div>
        <div class="col h4">{{getCurrentOrder().status}}</div>
      </div>
      <div class="row">
        <div class="col">{{getCurrentOrder().customer.firstname}}</div>
        <div class="col">Created: {{getCurrentOrder().created | date:'dd.mm.yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col">{{getCurrentOrder().customer.lastname}}</div>
        <div class="col">Deadline: {{getCurrentOrder().deadlineFinish | date:'dd.mm.yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col">{{getCurrentOrder().customer.companyName}}</div>
        <div class="col">Delivery: {{getCurrentOrder().deadlineDelivery | date:'dd.mm.yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col">{{getCurrentOrder().customerNumberOrder}}</div>
        <div class="col">{{getCurrentOrder().driver}}</div>
      </div>
    </div>
    <ion-scroll overflow-scroll="false" style="height: 230px; overflow-y: hidden" scrollbar-y="false">
      <ul class="list" ng-repeat="wheelRim in getWheelRimPositions()">
        <li class="item card no-margin-card">
          <div class="row">
            <div class="col"><h2 style="font-weight: bolder">{{wheelRim.positionNo}}</h2></div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.manufacturerWheel.description}}</div>
            <div class="col">{{wheelRim.status}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.model.description}}</div>
            <div class="col">{{wheelRim.manufacturerRim.description}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.modelType.description}}</div>
            <div class="col">{{wheelRim.width}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.size}}</div>
            <div class="col">{{wheelRim.height}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.hubCover}}</div>
            <div class="col">{{wheelRim.diameter}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.valveType.description}}</div>
            <div class="col">{{wheelRim.index}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.speed}}</div>
          </div>
        </li>
      </ul>
    </ion-scroll>
    <div class="card card-without-shadow">
      <div class="row">
        <div class="col">
          <div class="self-align-center">
            <button class="btn-status" ng-click="showPopup()">In Process</button>
          </div>
        </div>
        <div class="col">
          <div class="self-align-center">
            <button class="btn-status" ng-click="showPopup()">Processed</button>
          </div>
        </div>
        <div class="col">
          <div class="self-align-center">
            <button class="btn-status" ng-click="showPopup()">In Delivery</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-positive btn-back">Back</button>
  </div>
</ion-view>
