<ion-view view-title="Update Status" name="status-update-view" ng-controller="StatusUpdateCtrl as ctrl">
  <ion-content direction="y" class="has-header" scroll="false">
    <order order-data="ctrl.order"></order>
    <ion-scroll overflow-scroll="false" style="height: 230px; overflow-y: hidden" scrollbar-y="false">
      <ul class="list" ng-repeat="wheelRim in ctrl.order.wheelRimPositions">
        <li class="item card no-margin-card">
          <div class="row">
            <div class="col"><h2 style="font-weight: bolder">{{wheelRim.positionNo}}</h2></div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.manufacturerWheel.description}}</div>
            <div class="col">{{wheelRim.status}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.model.description}}</div>
            <div class="col">{{wheelRim.manufacturerRim.description}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.modelType.description}}</div>
            <div class="col">{{wheelRim.width}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.size}}</div>
            <div class="col">{{wheelRim.height}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.hubCover}}</div>
            <div class="col">{{wheelRim.diameter}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.valveType.description}}</div>
            <div class="col">{{wheelRim.index}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.speed}}</div>
          </div>
        </li>
      </ul>
    </ion-scroll>
    <div class="card card-without-shadow">
      <div class="row">
        <div class="col text-center">
          <div >
            <button class="btn-status" ng-class="{'status-active' : ctrl.order.status === 'IN_PROCESS'}" ng-click="updateStatus('IN_PROCESS')">
              <i class="icon ion-wrench"></i>
              In Process</button>
          </div>
        </div>
        <div class="col text-center">
          <div >
            <button class="btn-status" ng-class="{'status-active' : ctrl.order.status === 'PROCESSED'}" ng-click="updateStatus('PROCESSED')">
              <i class="icon ion-thumbsup"></i>
              Processed</button>
          </div>
        </div>
        <div class="col text-center">
          <div >
            <button class="btn-status" ng-class="{'status-active' : ctrl.order.status === 'IN_DELIVERY'}" ng-click="updateStatus('IN_DELIVERY')">
              <i class="icon ion-social-twitter"></i>In Delivery</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
