<ion-view view-title="{{'STATUS_UPDATE.TITLE' | translate}}" name="status-update-view" class="status-update-page" >
  <ion-content direction="y" class="has-header" scroll="false">
    <order order-data="order"></order>
    <div class="empty-message">
      <span ng-if="order.wheelRimPositions.length === 0" translate="STATUS_UPDATE.EMPTY_MESSAGE"></span>
    </div>
    <div class="slider-block">
      <ion-slide-box show-pager="false" on-slide-changed="wheelHasChanged($index)">
        <ion-slide class="item card no-margin-card" ng-repeat="wheelRim in order.wheelRimPositions">
          <div class="row">
            <div class="col"><h2 style="font-weight: bolder">{{wheelRim.positionNo}}</h2  ></div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.manufacturerWheel.description}}</div>
            <div class="col">{{wheelRim.status}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.model.description}}</div>
            <div class="col">{{wheelRim.manufacturerRim.description}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.modelType.description}}</div>
            <div class="col">{{wheelRim.width}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.size}}</div>
            <div class="col">{{wheelRim.height}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.hubCover}}</div>
            <div class="col">{{wheelRim.diameter}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.valveType.description}}</div>
            <div class="col">{{wheelRim.index}}</div>
          </div>
          <div class="row">
            <div class="col">{{wheelRim.speed}}</div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="card card-without-shadow">
      <div class="row">
        <div class="col text-center">
          <div >
            <button class="btn-status" ng-class="{'status-active' : currentPosition.status === 'IN_PROCESS'}" ng-click="updateStatus('IN_PROCESS')">
              <i class="icon ion-wrench"></i>
              <span translate="STATUS_UPDATE.IN_PROCESS"></span>
            </button>
          </div>
        </div>
        <div class="col text-center">
          <div>
            <button class="btn-status" ng-class="{'status-active' : currentPosition.status === 'PROCESSED'}" ng-click="updateStatus('PROCESSED')">
              <i class="icon ion-thumbsup"></i>
              <span translate="STATUS_UPDATE.PROCESSED"></span>
            </button>
          </div>
        </div>
        <div class="col text-center">
          <div >
            <button class="btn-status" ng-class="{'status-active' : currentPosition.status === 'IN_DELIVERY'}" ng-click="updateStatus('IN_DELIVERY')">
              <i class="icon ion-social-twitter"></i>
              <span  translate="STATUS_UPDATE.IN_DELIVERY"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
