<div class="modal">
  <ion-header-bar>
    <h1 class="title" translate="ORDER_DETAILS.MODAL.TITLE"></h1>
    <button class="button button-icon" ng-click="hideWheelsInfo()">
      <i class="icon ion-close"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div ng-repeat="wheelRim in order.wheelRimPositions | orderBy:'positionNo'">
        <div class="item item-divider" >{{::'ORDER_DETAILS.WHEEl' | translate}} {{::wheelRim.positionNo}}</div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.MANUFACTURE"></div>
          <span class="col" ng-bind="wheelRim.manufacturerWheel.description"></span>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.MODEL"></div>
          <div class="col" ng-bind="wheelRim.model.description"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.MODEL_TYPE"></div>
          <div class="col" ng-bind="wheelRim.modelType.description"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.HUB_COVER"></div>
          <div class="col" ng-bind="wheelRim.hubCover"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.VALVE"></div>
          <div class="col" ng-bind="wheelRim.valveType.description"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.STATUS"></div>
          <div class="col" ng-bind="wheelRim.status"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.MANUFACTURE_RIM"></div>
          <div class="col" ng-bind="wheelRim.manufacturerRim.description"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.WIDTH"></div>
          <div class="col" ng-bind="wheelRim.width"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.HEIGHT"></div>
          <div class="col" ng-bind="wheelRim.height"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.DIAMETER"></div>
          <div class="col" ng-bind="wheelRim.diameter"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.INDEX"></div>
          <div class="col" ng-bind="wheelRim.indexVal"></div>
        </div>
        <div class="item row">
          <div class="col" translate="ORDER_DETAILS.SPEED"></div>
          <div class="col" ng-bind="wheelRim.speed"></div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
