.search-order-page{
  .has-header{
    padding-top: inherit;
  }
  margin: 0;
  padding: 0;
  .search-input{
    height: 170px;
    .row{
      margin: 4px 0;
    }
    .custom-search{
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    .calendar-block{
      width: 100vw;
    }
  }
  ion-scroll{
    height: calc(100% - 170px);
  }
  .calendar-block{
    display: flex;
    justify-content: center;
    align-items: center;
    *{
      margin: 0 5px;
    }
  }


  .item-margin{
    margin-right: 10px;
  }
}
