.section-page{
  .btn-heaven {
    color: #000 !important;
    font-size: 35px;
    background-color: #8cb1d7;
    padding: 5vh 0;
    i::before{
      font-size: 10vw;
    }
    .button-title {
      width: 60vw;
      text-align: left;
    }

  }
}
