.btn-heaven {
  color: #000 !important;
  font-size: 35px;
  background-color: #8cb1d7;
  padding: 5vh 0;

  .button-title {
    width: 60vw;
    text-align: left;
  }

}

.btn-back {
  width: 90px;
}
.card-without-shadow {
  box-shadow: none;
  height: auto;
  width: auto;
  margin: 0 0 0 0;
}
.btn-status {
  width: 100px;
  height: 63px;
  color: black;
  background: transparent;
  border-radius: 8px;
  border: solid 2px ;
}
.self-align-center {
  width: inherit;
  text-align: center;
}
.no-margin-card {
  margin-top: 0;
  margin-bottom: 0;
}
.with-padding {
  padding: 10px 40px 10px 40px;
}
.login-inner-background {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  margin-right: 30px;
}
.list.list-inset.transparent-background,
.list.list-inset.transparent-background > * {
  background-color: transparent !important;
  border: none;
}
.item.item-input.login-input, .item .item-input.login-input > input {
  background-color: transparent;
  padding-left: 0;
}
.item.no-margin {
  margin: 0;
}

ion-item.white-placeholder-children,
ion-item.white-placeholder-children > input::placeholder{
  color: white;
}
ion-item.white-placeholder-children > * {
  color: white !important;
}
ion-item.white-placeholder-children > input::placeholder {
  color: white !important;
}

ion-item.white-placeholder-children > input::-webkit-input-placeholder {
  color:white !important;
}

ion-item.white-placeholder-children > input::-moz-placeholder {
  color:white !important;
}

ion-item.white-placeholder-children > input:-ms-input-placeholder {
  color:white !important;
}

ion-item.white-placeholder-children > input::placeholder {
  color:white !important;
}

.item.item-input.login-input > input {
  border: solid 1px white;
  border-radius: 4px;
}

.login-image-background {
  background:
    url("../img/felgen.png") no-repeat,
  url("../img/login-background.jpg") no-repeat;
  background-size: contain, cover;
  -moz-background-size: contain, cover;
  -webkit-background-size: contain, cover;
  -o-background-size: contain, cover;
  .item-checkbox{
    background: transparent;
    border: none;
    color: white;
  }
}

.no-padding {
  padding: 0 0 0 0;
}

.status-active {
  color: green;
}


body {
  font: 14px sans-serif;
}

.bar-custom {
  background-color: #8cb1d7;
}

.bar-custom.title{
  text-align: center;
}

.has-header{
  //padding-top:20px;
}
.margin-block{
  margin: 4px 2px;
}

.center-block{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card{

  }
}
.back-button{
  position: absolute;
  right: 0;
}
.no-wrap{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.margin-left{
  margin-left: 8px;
}

.bold-text{
  font-weight: 600;
  color: black;
  font-size: 14px;
}

.order-no{
  font-size: 14px;
}
