# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea/Wheels-Mobile-Client.iml
.idea/modules.xml
.idea/workspace.xml
www/lib/angular-animate/
www/lib/angular-sanitize/
www/lib/angular-ui-router/
www/lib/angular/
.idea/inspectionProfiles/
.idea/misc.xml
Wheels-Mobile-Client.iml
/.idea/
/hooks/
