<div class="">
  <div class="row">
    <div class="col padding-vertical">
      <b class="order-no" ng-bind="orderData.orderNo"></b>
    </div>
    <div class="col text-right" ng-if="detailes">
      <button class="button button-positive button-small" translate="ORDER_TEMPLATE.DETAILS" ng-click="showDetailes()"></button>
    </div>
  </div>
  <div class="order-row">
  </div>
  <div class="row">
      <div  class="col-33 padding-vertical  bold-text" translate="ORDER_TEMPLATE.CUSTOMER"></div>
      <span class="col padding-vertical"  >{{::orderData.customer.firstname}} {{::orderData.customer.lastname}} {{::orderData.customer.companyName}}</span>
  </div>
  <div class="row">
      <div  class="col-33 padding-vertical  bold-text" translate="ORDER_TEMPLATE.STATUS"></div>
      <span class="col padding-vertical" ng-bind="orderData.status"></span>
  </div>
  <div class="row">
      <div  class="col-33 padding-vertical bold-text" translate="ORDER_TEMPLATE.DRIVER"></div>
      <span class="col padding-vertical" ng-bind="orderData.driver.firstname + ' ' + orderData.driver.lastname | ifEmpty : translateDefaultValue('ORDER_TEMPLATE.DRIVER_EMPTY')"></span>
  </div>
  <div class="row">
    <div  class="col-33 padding-vertical  bold-text" translate="ORDER_TEMPLATE.DEADLINE"></div>
    <span class="col padding-vertical" ng-bind="orderData.deadlineFinish | ifEmpty: translateDefaultValue('ORDER_TEMPLATE.DATE_EMPTY')"></span>
  </div>

</div>
