.btn-heaven {
  color: #000 !important;
  font-size: 22px;
  background-color: #8cb1d7;
}
.headerImage {
  width: 90%;
  height: 70px;
}
.header-padding {
  padding-top: 110px;
}
.header {
  height: 70px;
  text-align: center;
}
.btn-back {
  width: 90px;
}
.card-without-shadow {
  box-shadow: none;
  height: auto;
  width: auto;
  margin: 0 0 0 0;
}
.btn-status {
  width: 100px;
  height: 63px;
  color: black;
  background: transparent;
  border-radius: 8px;
  border: solid 2px ;
}
.self-align-center {
  width: inherit;
  text-align: center;
}
.no-margin-card {
  margin-top: 0;;
  margin-bottom: 0;
}

